[submodule "services\\frontend"]
	path = services\\frontend
	url = https://github.com/ntdkhiem/captionthis_frontend
[submodule "services\\game"]
	path = services\\game
	url = https://github.com/ntdkhiem/captionthis_game
[submodule "services\\memegen"]
	path = services\\memegen
	url = https://github.com/ntdkhiem/captionthis_memegen
